/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */

@import "materialize/components/color";
// Colors
$primary-color: color("blue-grey", "darken-4") !default;
$body-background-color: color("blue-grey", "darken-3") !default;
$main-text-color: white;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;
@import 'materialize';

.nav-logo {
  height: 25px;
  filter: grayscale(100%);
  transition: all .1s ease-in;
}

body {
  background-color: $body-background-color;
  color: $main-text-color;
  text-align: center;
}

.no-filter {
  filter: none;
  height: 27px;
}

.main-logo-container {
  display: flex;
  width: 100%;
}

.main-logo {
  height: 200px;
  margin: auto;
  margin-top: 20px;
}

nav .material-icons {
  display: inline-block !important;
  font-size: 100% !important;
}

.nav-name {
  margin-left: 5px;
  display: inline-block;
}

.facebook-image {
  line-height: 5;
}

table.highlight tbody tr:hover td {
  color: $primary-color !important;
}

.main-menu-container {
  margin: 40px;
}